<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/components/info.css">
    <title>Document</title>
</head>

<body>
    <div id="content-container">
        <div id="info-container">
            <div class="info-column">
                <ul>
                    <li><a href="https://www.instagram.com/senseimuzik" >Instagram</a></li>
                    <li><a href="https://www.facebook.com/senseimuzik">Facebook</a></li>
                    <li><a href="https://www.youtube.com/@senseimuzik">Youtube</a></li>
                    <li><a href="https://www.tiktok.com/@senseimuzik">Tiktok</a></li>
                </ul>
            </div>
            <div id="logo">
                <img src="/assets/imgs/sensei.png">
            </div>
            <div class="info-column">
                <ul>
                    <li>Chicago</li>
                    <li>IL, USA</li>
                    <li>T: +1(312) 826 4215</li>
                    <li>E: senseimuzik@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
    });
</script>

</html>