<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Component</title>
    <link rel="stylesheet" href="/css/components/navigator.css">
</head>
<body>
    <div id="navigator-container" class="navigator-container">
        <div class="nav-link"><a href="/html/webpages/about.html">About</a></div>
        <div class="nav-link"><a href="/html/webpages/events.html">Events</a></div>
        <div class="nav-link"><a href="/html/webpages/book.html">Contact</a></div>
    </div>
    <script src="/js/components/navigator.js"></script>
</body>
</html>